In [1]:
import pandas as pd

C:\Program Files\Anaconda\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

#### Puzzle 1

In [2]:
# Read data from txt file into a list of lists
filename = 'AOC_day4_puzzle_input_Downey.txt'

with open(filename) as f:
    pairs = [line.rstrip('\n').split(",") for line in f]

In [3]:
# Function to explode a range into a list of integers
def range_explode(x):
    result = []
    for rnge in x.split(","):
        a,b = rnge.split("-")
        a,b = int(a), int(b)
        result.extend(range(a,b+1))
    return result

In [4]:
# Create data frame with each elf's cleaning assignments
elf_pairs = pd.DataFrame([[range_explode(i) for i in clean] for clean in pairs], columns = ['elf_1','elf_2'])
#elf_pairs.head()

In [5]:
# Which assignments fully contain another?
elf_pairs['1_cont_2'] = elf_pairs.apply(lambda x: all(i in x.elf_1 for i in x.elf_2), axis=1).astype(int)
elf_pairs['2_cont_1'] = elf_pairs.apply(lambda x: all(i in x.elf_2 for i in x.elf_1), axis=1).astype(int)

In [6]:
sum(elf_pairs[['1_cont_2', '2_cont_1']].max(axis=1))

526

#### Puzzle 2

In [7]:
# Which assignments overlap?
elf_pairs['overlap'] = elf_pairs.apply(lambda x: any(i in x.elf_1 for i in x.elf_2), axis=1).astype(int)

In [8]:
sum(elf_pairs['overlap'])

886

In [9]:
elf_pairs.head(10)

,elf_1,elf_2,1_cont_2,2_cont_1,overlap
0,"[8, 9, 10, 11, 12, 13]","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",0,0,1
1,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]","[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]",0,0,1
2,"[72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83]","[73, 74, 75, 76]",1,0,1
3,[37],"[39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 5...",0,0,0
4,"[64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 7...",[65],1,0,1
5,[2],"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",0,0,0
6,"[53, 54, 55, 56, 57]","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",0,0,1
7,"[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...",0,1,1
8,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",0,1,1
9,[69],[68],0,0,0